*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


li{
  list-style: none;
}
a{
  text-decoration: none;
}
.navigation{
  background-color: white;
  color: black;
  margin-top: 5px
  
}
#Neatly {
  display: flex;
  justify-content: space-around;
  gap:45rem;
  padding: 2rem 0 2rem 0;
  
  
}
.navbar ul{
  display: flex;
  gap: 2rem;
}
.search {
  display: flex;
  justify-content: space-around;
  
}
.los {
  display: flex;
  /* gap: 2rem; */
}
.button {
  display: flex;
  gap: 2rem;
}
.btn-secondary{
  display: flex;
  gap: 2rem;
  
}
#signin{
  padding-right: 4rem;
  padding-left: 0rem;
  border: none;
}
/* search box -------------------------------- */
#search-box input {
  width: 65rem;
}

/*--------------- first section-------------------- */


.firstsec{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* height: 80vw; */
}

.container{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 40vw;
  padding-bottom: 4rem;
  /* height: 80rem; */
  /* padding:0 0 20rem 0; */
  
}



/*--------------- second section-------------------- */


.secondsec{
  display: flex;
  background-color: white;
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4rem 0 4rem 0;
  
  
}
.sec_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 33vw;
  padding: auto;
}


/*--------------- Third section-------------------- */


.thirdsec{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(images/first.png);
  margin: 4rem 0 4rem 0;
  height: 45vh;
}
.third_container{
  width: 35rem;
  color: white;
  
}


/*--------------- fourth section-------------------- */


.fourthsec{ 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 
  
}
.fourth_container{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}
.fourth_heading{
  width: 33vw;
} 


/* ----------------footer----------------------------- */


.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  height: 40vh;

  background-color: white;
  
}
.foot_1 ul{
  padding: auto;
  
}